<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <%= link_to 'Ben Kautt', 'http://benkautt.getforge.io/' %>.
  </p>
  <br>

  <div class="row">
    <div class="col-12 col-sm-4"><%= image_tag 'me.jpg', class: 'img-fluid' %></div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ben Kautt</h2>
      <p>
        With a background in photography, I've helped grow Blakesberg Photography to its current state of managing over 2 million images, and from 6TB to over 200TB of data. I've always enjoyed challenging myself and learning new technologies, including redesigning the network and building the software that has managed all this data. Lately, I've realized software is what I enjoy most, and am currently pushing myself to new levels at the Firehose Project. In my spare time I can be found climbing at the local (or distant) crag, hiking mountains to find the perfect photo, and wrenching on motorcycles at races.
      </p>
    </div>
  </div>
</div>

<br class="clear">
<br>
<br>
<br>