@font-face {
    font-family: 'acherus_grotesque_-_regular';
    src: font_url('acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
         font_url('acherus_grotesque_-_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'acherus_grotesque_-_regular';
    src: font_url('acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
         font_url('acherus_grotesque_-_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
