@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;  
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-family: 'acherus_grotesque_-_regular', sans-serif;
}

h2 {
  padding-left: 25px;
}

h2 span {
  color: #ddd;
}

header {
  border-top: 9px solid #222;
}

hr {
  margin-top: 0;
}

.about, .footer-blurb, .modal, .slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.author {
  font-style: italic;
}

.clear {
  clear: both;
}

.circle {
  font-weight: bold;
  // font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #f84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
}

.footer-blurb {
  font-style: italic;
  text-align: right;
  font-size: 12px;
}

.links {
  margin: auto;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #ddd;
  font-family: 'acherus_grotesque_-_regular', sans-serif;
  font-weight: bold;
  margin-right: 26px;
}

.quote {
  font-family: 'Permanent Marker', cursive;
}

.next-quote {
  color: #f84342;
  font-family: 'acherus_grotesque_-_regular', sans-serif;
  font-style: italic;
  font-size: 20px
}

.slogan {
  font-style: italic;
  margin: auto;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

::selection {
  background-color: #f84342;
}
